<strong>Olá, {{organizer}}</strong>
<p>Houve uma nova inscrição em um dos seus eventos. Confira detalhes abaixo:</p>
<p>
  <strong>Evento: </strong>{{evento}}<br>
  <strong>Data: </strong>{{date}}<br>
  <strong>Inscrito:</strong>{{inscrito}}<br>
  <strong>E-mail:</strong>{{emailInscrito}}
</p>